.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer div {
    color: #fff;
    font-size: 14px;
}
.card img {
    height: 200px;
    object-fit: cover;
}

footer a {
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd700;
}
/* Фон за секция Изяви */
.events {
    background-color: #f0f8ff; /* Светло синьо-сиво */
}

.bg-hero {
    background-color: #0d6efd7d; /* Полупрозрачен син цвят */
    --bs-bg-opacity: 1;
}

.footer-menu-item {
    font-size: 14px; /* Размер на шрифта */
    margin-left: 10px; /* Отстъп отляво */
    display: block; /* Прави всяка връзка да е на нов ред */
    color: #ffffff; /* Бял цвят за текст */
    text-decoration: none; /* Премахва подчертаването на връзките */
    transition: color 0.3s ease; /* Ефект при задържане */
}

.footer-menu-item:hover {
    color: #ffd700; /* Промяна на цвета при задържане */
}

#mainMenu a {
    font-size: 16px;
}

@media (max-width: 768px) {
    #mainMenu {
        position: absolute;
        top: 70px; /* Под хедъра */
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    #mainMenu ul {
        padding: 0;
    }

    #mainMenu li {
        margin-bottom: 10px;
    }
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: none; /* Скриване по подразбиране */
    z-index: 1000;
    transition: transform 0.3s ease; /* Анимация при натискане */
}

.back-to-top:hover {
    background-color: #0056b3; /* По-тъмен син цвят при задържане */
}

.back-to-top:active {
    transform: scale(0.9); /* Леко смаляване при натискане */
}

.image-with-text-left {
    float: left; /* Картинката е отляво на текста */
    max-width: 300px; /* Максимална ширина на картинката */
    margin-right: 15px; /* Разстояние между текста и картинката */
    margin-bottom: 10px; /* Разстояние под картинката */
}

.image-with-text-right {
    float: right; /* Картинката е отдясно на текста */
    max-width: 300px; /* Максимална ширина на картинката */
    margin-left: 15px; /* Разстояние между текста и картинката */
    margin-bottom: 10px; /* Разстояние под картинката */
}

.text-justify p {
    text-align: justify; /* Двустранно подравняване на текста */
}