/* Основен стил */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4aa6ed;
}

.bg-info {
    background-color: #8ed6f1 !important;
    overflow: hidden;
}

/* Изображението на робота */
img {
    max-height: 300px;
    object-fit: contain;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

/* Отместване на навигационните връзки */
nav .nav-link {
    font-weight: bold;
    transition: color 0.3s;
}

nav .nav-link:hover {
    color: #ffd700;
}